<div id="<%= dom_id empregador %>">
  <p>
    <strong>Nome:</strong>
    <%= empregador.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= empregador.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= empregador.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= empregador.senha %>
  </p>

</div>
